* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.top {
  background-color: #1b1b1b;
  padding: 15px;
}

.menu {
  display: flex;
  margin-left: 240px;
}

.menu a {
  color: ivory;
}

.menu a:hover {
  color: #e0e0e0;
}

.menu div {
  margin-right: 40px;
}

.menu .menu_4 {
  margin-left: 980px;
}

.title {
  margin-top: 30px;
  margin-left: 260px;
  font-size: 35px;
  font-weight: bold;
  color: #707070;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: left;
    margin: 0;
  }

  .menu {
    margin: 0px;
  }
}
